[submodule "api.fllevent.com"]
	path = api.fllevent.com
	url = git@github.com:fllevent/api.fllevent.com.git
[submodule "client.fllevent.com"]
	path = client.fllevent.com
	url = git@github.com:fllevent/client.fllevent.com.git
